column descriptions:
https://www.slideshare.net/PawanShivhare1/predicting-king-county-house-prices

# Import everything

In [60]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data_set = pd.read_csv('kc_house_data_train.csv', index_col = 0) # read the data

In [4]:
data_set.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [66]:
np.datetime64('20140821T000000'[0:8])

numpy.datetime64

In [34]:
data_set.columns
all_cols = list(data_set.columns)
all_cols.remove('id')

price_col = data_set['price']
all_cols.remove('price')

data_set.nunique() # check number of unique values for each column, some like zipcode look categorical but

id               17176
date               371
price             3534
bedrooms            13
bathrooms           30
sqft_living        947
sqft_lot          8428
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         867
sqft_basement      290
yr_built           116
yr_renovated        69
zipcode             70
lat               4837
long               733
sqft_living15      714
sqft_lot15        7582
dtype: int64

In [40]:
all_cols, len(all_cols)

(['date',
  'bedrooms',
  'bathrooms',
  'sqft_living',
  'sqft_lot',
  'floors',
  'waterfront',
  'view',
  'condition',
  'grade',
  'sqft_above',
  'sqft_basement',
  'yr_built',
  'yr_renovated',
  'zipcode',
  'lat',
  'long',
  'sqft_living15',
  'sqft_lot15'],
 19)

In [55]:
# fig, axes = plt.subplots(nrows = 5, ncols = 4) # 5 lists of 4 plots each

# def scatter_it(data_frame, ind_var):
#     data_set.plot.scatter(x = ind_var, y = 'price')

    
for ind_var in all_cols:
    data_set.plot.scatter(x = ind_var, y = 'price')


# for ind_var, ax in zip(all_cols, axes):
#     data_set.plot(kind = 'scatter', x = ind_var, y = 'price', ax = ax, alpha = 0.4)

ValueError: scatter requires x column to be numeric

# data_set[['lat', 'price']].groupby('lat').mean().plot.bar()

In [30]:
data_set.zipcode.value_counts(); # 70 zipcodes in this area

In [31]:
data_set.sort_values(by = ['zipcode']); #inplace = True #maybe do this later?

# longitude latitude min max ; what do i do with this

In [36]:
data_set.lat.max() - data_set.lat.min() # latitude diff

0.621699999999997

In [37]:
data_set.long.max() - data_set.long.min() # longitude diff

1.2040000000000077

In [40]:
data_set.lat.max(), data_set.long.max() # max lat and max long

(47.7776, -121.315)

In [64]:
data_set.lat.min(), data_set.long.min() # min lat and min long

(47.1559, -122.519)